*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
/* sections */
:root{
    --background-color: #0D0D0D;
    --textbackground-color: #F2F2F2;
    --span-color: #D90404;
    --header-color: rgba(0, 0, 0, .7);
    --alternatetext-color: #ffffff;
    --green-color: #0EA900;
}
body{
    background-color: var(--background-color);
}
.section__1{
    height: 100vh;
}
.section__2{
    height: 100vh;
    padding-bottom: 6rem;
}

/* header */
.logoimg{
    max-height: 4.5rem;
    float: left;  
}
header{
    background-color: var(--header-color);
    height: 5rem;
    width: 100%;
    border-bottom: 2px solid black;
    position: fixed;
    margin-bottom: 5rem;
    opacity: 1;
    z-index: 1;
}
.smalltext{
    color: var(--alternatetext-color);
    text-align: center;
    font-size: 1.5rem;
}
h2{
    color: var(--alternatetext-color);
    font-family: 'Allerta Stencil', sans-serif;
    margin: auto;
    width: 400px;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
  }
  span{
    color: var(--span-color);
  }

/* scroll indicator */
.progress__container {
    width: 100%;
    height: 8px;
    background: #ccc;
}


.progress__bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
}

/* section 1 content */
h1{
    color: var(--alternatetext-color);
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
    padding-top: 6rem;
    z-index: 1;
}
.grid__bottomtext{
    color: var(--alternatetext-color);
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 1rem;
    max-width: 700px;
    margin: auto;
}
.section__mineral{
    display: block;
    margin: auto;
    width: auto;
    margin-top: 6rem;
    height: 350px;
}
.section__textbox{
    background-color: var(--textbackground-color);
    height: auto;
    text-align: left;
    opacity: 0.8;
    justify-content: center;
    margin-top: 2rem;
}
.section__text{
    margin-left: 2rem;
    padding: 1rem;
    font-size: 1.8rem;
    font-family: sans-serif;
    max-width: 700px;
    margin: auto;
    color: black;
}


/* section 2 content */
.section__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(40, 1fr);
    grid-column-gap: 5%;
    height: 80%;
    max-width: 700px;
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    margin-top: 2%;
    padding: 1rem;
    cursor: pointer;
}
.graph__text{
    padding: 1rem;
    font-family: sans-serif;
}

.grid__graph1{
    grid-row: 40 / 4;
    background-color: var(--green-color);
    border: 1px solid var(--alternatetext-color);
    color: rgb(0, 0, 255, 0);
    box-shadow: 2px 2px 2px var(--alternatetext-color);
}

.grid__graph2{
    grid-row: 40 / 6;
    background-color: var(--green-color);
    border: 1px solid var(--alternatetext-color);
    color: rgb(0, 0, 255, 0);
    box-shadow: 2px 2px 2px var(--alternatetext-color);
}
.grid__graph3{
    grid-row: 40 /7;
    background-color:var(--green-color);
    border: 1px solid var(--alternatetext-color);
    color: rgb(0, 0, 255, 0);
    box-shadow: 2px 2px 2px var(--alternatetext-color);
}
.grid__graph4{
    grid-row: 40 /8;
    background-color: var(--green-color);
    border: 1px solid var(--alternatetext-color);
    color: rgb(0, 0, 255, 0); 
    box-shadow: 2px 2px 2px var(--alternatetext-color);
}

.grid__graph1:hover{
    grid-row: 40 / 35;
    background-color: var(--span-color);
    color: var(--alternatetext-color);
}
.grid__graph2:hover{
    grid-row: 40 / 39;
    background-color: var(--span-color);
    color: var(--alternatetext-color);
}
.grid__graph3:hover{
    grid-row: 40 / 15;
    background-color: var(--span-color);
    color: var(--alternatetext-color);
}
.grid__graph4:hover{
    grid-row: 40 /33;
    background-color: var(--span-color);
    color: var(--alternatetext-color);
}

.grid__text1, .grid__text2, .grid__text3, .grid__text4{
    color: var(--alternatetext-color);
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
}
.grid__text5, .grid__text6, .grid__text7, .grid__text8{
    grid-row: 12;
    height: 100%;
    z-index: 1;
    font-size: 2rem;
    text-align: center;
    font-family: sans-serif;
}



/* section 3 content */
.section__3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: var(--background-color);
    max-width: 800px;
    margin: auto;
    height: auto;
    margin-bottom: 5rem;
}

.section__3 video{
    grid-column: 1 / 4;
    grid-row: 1 / 5;
    height: auto;
    width: 100%;
    object-fit: fill;
}

/*navigatie*/
.container__button{
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--span-color);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    bottom: -5rem;
}

.container__button:hover{
    transform: scale(2);
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    background-color:var(--green-color);
}

button{
    position: relative;
    left: 34.5%;
    top: 30%;
    cursor: pointer;
}
.arrow{
    position: relative;
    left: 31%;
    top: 10%;
    cursor: pointer;
    width: 40px;
    height: auto;
}


@media only screen and (min-width: 600px) {
    .section__1{
        height: 80vh;
    }
  }