*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
:root{
    --background-color: #0D0D0D;
    --textbackground-color: #F2F2F2;
    --span-color: #D90404;
    --header-color: rgba(0, 0, 0, .7);
    --alternatetext-color: #ffffff7e;
    --green-color: #0EA900;
}
body{
    background-color: var(--background-color);
    background-image: url('../img/chance.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    height: 100vh;
} 

img{
    max-width: auto;
    max-height: 4.8rem;
    float: left; 
}

header{
    background-color:var(--header-color);
    height: 5rem;
    width: 100%;
    border-bottom: 2px solid black;
    opacity: 0.7;
}

.container{
    height: 100vh;
    width: 100%;
    position: relative;
}

h2{
    color: var(--alternatetext-color);
    font-family:sans-serif;
    margin: auto;
    width: 400px;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-family: 'Allerta Stencil', sans-serif;
}

span{
    color: var(--span-color);
}

.container__logo{
    height: 10rem;
    width: 20rem;
    top: 0; 
    left: 0;
}

.container__logo > img{
    height: 50%;
    width: 50%;
}

.container__content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 80vh;
}

.container__title{
    color: var(--span-color);
    justify-content: center;
    text-align: center; 
    position: absolute;
    top: 7rem;
}

.container__title > h1{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 3rem;
    padding: .2rem;
}

.container__text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40rem;
    padding: 2rem;
    background-color: var(--textbackground-color);
    width: 100vw;
    opacity: 0.7;
}

.container__text > p{
    font-family: 'Roboto', sans-serif;
    max-width: 375px;
    font-size: 1.8rem;
    text-align: left;
    max-width: 800px;

}

.container__button{
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--span-color);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    bottom: -5rem;
}

.container__button:hover{
    transform: scale(2);
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    background-color:var(--green-color);
}

button{
    position: relative;
    left: 34.5%;
    top: 30%;
    cursor: pointer;
}
.arrow{
    position: relative;
    left: 31%;
    top: 10%;
    cursor: pointer;
    width: 40px;
    height: auto;
}


@media only screen and (min-width: 600px) {
    .container__content{
        max-width: 50%;
        margin: auto;
    }
    
    body{
        background-image: url('../img/chanceDesktop.webp');
        background-color: var(--background-color);
    }
    
}