*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root{
    --background-color: #0D0D0D;
    --textbackground-color: #F2F2F2;
    --span-color: #D90404;
    --header-color: rgba(0, 0, 0, .7);
    --alternatetext-color: #ffffff;
    --green-color: #0EA900;
    --black-color: #000000;
}

header {
    background-color: var(--header-color);
    height: 5rem;
    width: 100%;
    border-bottom: 2px solid var(--black-color);
}

body {
    height: 100vh;
    width: 100%;
    margin: auto;
    background-color: var(--black-color);
}


.logoimg {
    max-height: 4.8rem;
    float: left;
}

/* sections */
.section__2,
.section__3,
.section__4 {
    height: 50vh;
}

/* Section 1 */
.section__1 {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--black-color);
    height: 80vh;
    display: grid;
    border-radius: .5%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.section__image{
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1 / 4;

}

.section__image img{
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: right;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease;
    transform-origin: center;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
}

.section__textbox1 {
    grid-column: 1;
    grid-row: 3;
    height: calc(100vh/4);
    text-align: left;
    opacity: 0.7;
    justify-content: center;
    background-color: var(--black-color);
    animation: fromLeft;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
}
.section__textbox1 p{
    font-size: 1.7rem;
}


.section__text {
    color: var(--alternatetext-color);
    margin-left: 2rem;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

/* Section 2 */
.section__2 {
    background-color: var(--black-color);
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 10% 80% 10%;
}

.section__wrapper {
    grid-column: 2;
    grid-row: 1;
    height: 20vh;
    width: 100%;
}

.section__wrapper p {
    font-size: 2rem;
    color: var(--span-color);
    font-family: 'Roboto', sans-serif;
}

.section__textbox2 p {
    font-size: 2rem;
}

/* section 3 */
.section__3 {
    background-color: var(--black-color);
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.section__bottomtext{
    color: white;
    grid-row: 1;
    grid-column: 1 / 3;
    height: 100%;
    width: 100%;
    font-size: 1.8rem;
    color: var(--alternatetext-color);
    text-align: center;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
    position: flex-end;
}

.section__3 video {
    grid-column: 1 / 4;
    grid-row: 2 / 5;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.section__4 {
    background-color: var(--black-color);
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 2.5% 60% 35% 2.5%;
}

.section__textbox4 {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section__textbox4 p {
    height: 100%;
    width: 100%;
    font-size: 1.8rem;
    color: var(--alternatetext-color);
    text-align: center;
    line-height: normal;
    font-family: 'Roboto', sans-serif;

}

.section__social {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    grid-column: 2;
    grid-row: 3;

}

.section__social img {
    height: 50px;
    width: 50px;
}

.section__box1 h2 {
    font-size: 1.8rem;
    color: var(--alternatetext-color);
    text-align: center;
    font-family: 'Roboto', sans-serif;

}


.section__box2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.section__box2 img {
    background-color: var(--black-color);
    border-radius: 25%;
    border: transparent;

}

.appear {
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease;
    transform-origin: center;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
}

.fromLeft {
    animation: fromLeft;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-delay: 0.8s;
}

/* scroll indicator */
.top-panel {
    width: 100%;
  }
  .top-panel::before{
    content: 'V';
    color: var(--alternatetext-color);
    position: absolute;
    opacity: 0.7;
    font-size: 4rem;
    width: 6rem;
    height: 4rem;
    text-align: center;
    bottom: calc(100vh - 70%);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 75%;
    animation: bounce 1.5s ease infinite;
    font-family: sans-serif;
    z-index: 1;
  }
  
  @keyframes bounce {
    50% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  

@media only screen and (min-width: 400px) {
    @keyframes appear {
        from {
            transform: scale(0)
        }
    
        to {
            transform: scale(1);
        }
    }
    
    @keyframes fromLeft {
        from {
            transform: translateX(-80rem);
        }
    
        to {
            transform: translate(0);
        }
    }
}


@media only screen and (min-width: 700px) {
    header {
        width: 100%;
    }

    .section__1,
    .section__2,
    .section__3,
    .section__4 {
        margin: auto;
        max-width: 700px;
    }
    .section__textbox2 p {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1920px){
    @keyframes appear {
        from {
            transform: scale(0)
        }
    
        to {
            transform: scale(1);
        }
    }
    
    @keyframes fromLeft {
        from {
            transform: translateX(-160rem);
        }
    
        to {
            transform: translate(0);
        }
    }
}