*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* sections */
.section__2, .section__3, .section__4, .section__5{
    height: 50vh;
}

.section__1 {
    background-color: black;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: black;
}

.section__1 video{
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.section__2 {
    background-color: grey;
}

.section__3 {
    background-color: blue
}

.section__4 {
    background-color: purple;
}

.section__5 {
    background-color: silver;
}