*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

html{
    font-size: 62.5%;
}

body{
    background-color: var(--background-color);
    background-image: url("../img/note.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    height: 100vh;
}

p{
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
}
.grid__totalprice{
    color: green;
    font-size: 3rem;
    text-align: center;
}
:root{
    --background-color: rgba(255, 255, 255, .4);
}

img{
    max-width: auto;
    max-height: 4.8rem;
    float: left;  
}

header{
    background-color: var(--background-color);
    height: 5rem;
    width: 100%;
    border-bottom: 2px solid black;
}

.container{
    height: 100vh;
    width: 100%;
    position: relative;
}
h1{
    font-family: sans-serif;  
    font-size: 1.2rem;
    padding: 1rem;
    max-width: 800px;
    margin: auto;
}
h2{
    color:black;
    font-family: sans-serif;
    margin: auto;
    padding: 1rem;
    text-align: center;
    font-size: 1.7rem;
}
h3{
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
}
span{
    color: red;
}
.span__green{
    color: green;
}
.headermute{
    height: 4rem;
    width: 4rem;
    float: right;
    background-image: url("../img/unmute.webp");
    background-size: contain;
    margin: 0.5rem;
 }
.headermute--muted{
    height: 4rem;
    width: 4rem;
    float: right;
    background-image: url("../img/mute.webp");
    background-size: contain;
    margin: 0.5rem;
}
.calc{
    width: 25rem;
    height: auto;
    margin: auto;
    background-color: green;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}
.container__logo{
    height: 10rem;
    width: 20rem;
    top: 0; 
    left: 0;
}

.container__logo > img{
    height: 50%;
    width: 50%;
}
.container__pricegrid{
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-columns: 38% 1fr 0.5fr;
    height: 50%;
    width: 95%;
    max-width: 800px;
    margin: auto;
    margin-top: 1%;
    text-align: center;
}

.grid__content1{
    background-image: url("../img/coltan.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid__content4{
    background-image: url("../img/cassierite.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid__content7{
    background-image: url("../img/wolframite.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container__button{
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #D00000;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    bottom: -5rem;
    opacity: 0;
}

.container__button:hover{
    transform: scale(2);
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    background-color:#0EA900;
}

button{
    position: relative;
    left: 34.5%;
    top: 30%;
    cursor: pointer;
}
.arrow{
    position: relative;
    left: 33%;
    top: 10%;
    cursor: pointer;
    width: 40px;
    height: auto;
}


@media only screen and (min-width: 700px) {
    .container__content__text{
        width: 700px;
    }
    html{
        font-size: 80%;
    }
    
}