*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --background-color: #0D0D0D;
    --textbackground-color: #F2F2F2;
    --span-color: #D90404;
    --header-color: rgba(0, 0, 0, .7);
    --alternatetext-color: #ffffff7e;
    --green-color: #0EA900;
}

body {
    background-color: var(--background-color);
    background-image: url("../img/note.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

section {
    margin-top: 3%;
}

p {
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
}

.grid__totalprice {
    color: var(--green-color);
    font-size: 3rem;
    text-align: center;
}

img {
    max-height: 4.8rem;
    float: left;
}

.header {
    background-color: var(--header-color);
    height: 5rem;
    width: 100%;
    border-bottom: 2px solid black;
}

.u-container {
    height: 100vh;
    width: 100%;
    position: relative;
}

.grid__redtext {
    color: var(--span-color);
}

h1{
    padding: 0.8rem;
    max-width: 80rem;
    margin: auto;
}
h2 {
    color: var(--background-color);
    font-family: sans-serif;
    margin: auto;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
}

span {
    color: var(--span-color);
}

.span__green {
    color: var(--green-color);
}

.headermute {
    height: 4rem;
    width: 4rem;
    float: right;
    background-image: url("../../../img/unmute.webp");
    background-size: contain;
    margin: 0.5rem;
}

.headermute--muted {
    height: 4rem;
    width: 4rem;
    float: right;
    background-image: url("../../../img/mute.webp");
    background-size: contain;
    margin: 0.5rem;
}

.header__text {
    font-family: 'Play', sans-serif;
    font-size: 1.4rem;
}
.calc_dagloon{
    font-family: sans-serif;
    font-size: 1.2rem;
}
.bottom__text{
    font-family: sans-serif;
    font-size: 1.2rem;
}

.calc {
    width: 25rem;
    height: auto;
    margin: auto;
    background-color: var(--green-color);
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
}

.calc:hover,
.calc:active {
    box-shadow: inset 0 0 10px #000000;
}

.container__logo {
    height: 10rem;
    width: 20rem;
    top: 0;
    left: 0;
}

.container__logo>img {
    height: 50%;
    width: 50%;
}

.container__pricegrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 38% 1fr 0.5fr;
    height: 50%;
    width: 95%;
    max-width: 80rem;
    margin: auto;
    margin-top: 1%;
    text-align: center;
    list-style: none;
}

.grid__content--1 {
    background-image: url("../../../img/coltan.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid__content--4 {
    background-image: url("../../../img/cassierite.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid__content--7 {
    background-image: url("../../../img/wolframite.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container__button {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    background-color: var(--span-color);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    bottom: -5rem;
    opacity: 0;
}

.container__button:hover {
    transform: scale(2);
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    background-color: var(--green-color);
}

button {
    position: relative;
    left: 34.5%;
    top: 30%;
    cursor: pointer;
}

.arrow {
    position: relative;
    left: 31%;
    top: 10%;
    cursor: pointer;
    width: 40px;
    height: auto;
}

@media only screen and (min-width: 700px) {
    .container__content__text {
        width: 70rem;
    }
    .header__text{
        font-size: 1.4rem;
    }
    h3, p{
        font-size: 3rem;

    }
}

@media only screen and (min-width: 1000px){
    .header__text, .calc__dagloon, .bottom__text{
        font-size: 2rem;
    }
}

/*support query zodat je naar de volgende pagina kan als javascript faalt */
@supports (opacity: 0) {
    .container__button {
        opacity: 1;

    }
}
